* {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}

body {
  background-image: url(img/fondo.webp);
  backdrop-filter: blur(1.5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.info,.caja,.divisas,.precios,.contender,h2,div,footer {/*estilos para que caida en cascada al iniciar o recargar*/
  opacity: 0;
  transform: translateY(-85px);
  animation: drop 0.9s ease forwards;
}

.info:nth-child(1) { animation-delay: 0.2s; }
.caja:nth-child(2){ animation-delay: 0.4s;}
.divisas:nth-child(1){ animation-delay: 0.0s;}
.precios:nth-child(1) { animation-delay: 0.6s; }
.precios:nth-child(2) { animation-delay: 0.8s; }
.contenedor:nth-child(2){ animation-delay: 0.0s;}
h2:nth-child(1) { animation-delay: 1.0s; }
h2:nth-child(2) { animation-delay: 1.2s; }
h2:nth-child(3) { animation-delay: 1.4s; }
h2:nth-child(4) { animation-delay: 1.6s; }
div:nth-child(5) { animation-delay: 1.8s;}
footer:nth-child(3) { animation-delay: 2.0s;}

@keyframes drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* precios a la izquierda, convertidor a la derecha */
.caja {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 25px 160px 25px 160px;
  background-color: rgba(255,255,255,0.6);
  border-radius:60px;
  gap:5px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}

.precios {
  font-size: 22px;
  background: #08599AFF; /* color azul de fondo */
  color: white;
  padding: 14px;
  border-radius: 50px;
  box-shadow: 0px 6px 0px #064272FF;
  text-align: center;
  margin-bottom:20px;
}

span{
  font-size:22px;
}

.fecha{
  font-size:17px;
  font-style:italic;
}

 .divisas {
    width: 90%;   /* ocupa todo el 90% del ancho del contenedor padre */
    text-align: center;
    margin: 15px 0px 0px 15px;
  }
/* Bloque del convertidor */
.contenedor {
  padding: 20px;
  border-radius: 60px;
  text-align: center;
  margin-bottom:0px;
}

h2 {
  font-size: 26px;
  color: #fff;
  background: #08599AFF;
  border-radius: 60px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 6px 0px #064272FF ;
}

.info{
  margin: 0px 110px 25px 110px;
  text-align: center;
  border-radius:0px 0px 60px 60px;
}

.header{
  padding:2px;
  background-color:white;
}

img{
  justify-content:center;
  align-items: center;
  border-radius:50px;
}

p {
  background-color: #FFE97FFF;
  border-radius: 60px;
  color: #000000FF;
  font-size: 30px;
  padding: 10px;
  margin: 6px;
  margin-right:15px;
 }

input {
  border-radius: 60px;
  font-size: 30px;
  width: 440px;
  height: 50px;
  padding: 5px 20px;
  border:none;
}

.di {
  display: flex;
  justify-content: start;
  align-items: center;
  gap:6px;
}

button{
    all: unset; /* elimina los estilos por defecto */
    cursor: pointer;/* vuelve a poner el cursor de mano */
    background-color:#F25750FF;
    border-radius:20px;
    padding:8px;
    color:white;
    box-shadow: 0px 6px 0px #BF453FFF;
    margin-bottom:10px;
    font-weight:bold;
    width:40%;
}

button:active{   
    transform: translateY(6px);
    box-shadow: 0px 0px 0px #BF453FFF;
}

footer {
  border-radius: 30px;
  margin: 25px 110px 0px 110px;
  text-align: center;
  background-color:#08599AFF;
  border-radius:60px 60px 0px 0px;
  padding:5px;
}

.footer{
  font-size:26px;
  border-radius:60px;
  padding:8px;
  color:white;
  background-color:#08599AFF;
}

/* Responsivo */
@media screen and (max-width: 800px) {
  
  .info, footer{
    margin-left:11px;
    margin-right:11px;
  }

  .caja {
    flex-direction: column; /* apila precios y convertidor */
    align-items: center;
    margin: 20px 13px 20px 14px;
  }

  .contenedor{
    width: 90%;
  }
  
  .precios{
    margin-bottom:12px;
  }

  span{
    font-size:20px;
  }

  .fecha{
    font-size:15px;
  }
  
  .divisas {
    width: 90%;   /* ocupa todo el ancho del contenedor padre */
    text-align: center;
    margin-top:18px;
  }

  h2,.footer {
    font-size: 18px;
  }
  
  input {
    height: 45px;
    width: 85%;
    font-size: 25px;
  }  

  button{
    width:55%;
  }
}
